
{% load static %}
<!-- Footer -->
<footer class="footer style1 bg-image-2" style='background-image: url("{% static "img/background/bg-5.png" %}");'>
    <div class="footer-top">
        <div class="container">
            <div class="footer--inner">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5 mb-md-0">
                        <div class="footer-widget">
                            <div class="footer-nav">
                                <ul>
                                    <li class="menu-item"><a href="{% url 'core:about' %}">About Us</a></li>
                                    <li class="menu-item"><a href="{% url 'core:our_story' %}">Our Story</a></li>
                                    <li class="menu-item"><a href="{% url 'core:pricing' %}">Pricing</a></li>
                                    <li class="menu-item"><a href="{% url 'galleries:client_galleries' %}">Gallery</a></li>
                                    <li class="menu-item"><a href="{% url 'core:products' %}">Services</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 mb-5 mb-md-0 order-1 order-md-0">
                        <div class="footer-widget text-center">
                            <div class="logo mr-bottom-55">
                                <a href="{% url 'core:index' %}" class=""><img src="/static/img/lumis_logo_v1.png" alt="logo"></a>
                            </div>

                            <h6 class="widget-title">Sign up for all the latest <br> news and offers </h6>
                            <form class="newsletter-form" method="post">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                                </div>
                                <button type="submit" class="btn btn-two">
                                    <span class="btn-wrap">
                                        <span class="text-first">Subscribe</span>
                                        <span class="text-second"><i class="bi bi-arrow-up-right"></i> <i class="bi bi-arrow-up-right"></i></span>
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5 mb-md-0">
                        <div class="footer-widget text-md-end">
                            <div class="footer-nav">
                                <ul>
                                    <li class="menu-item"><a href="{% url 'core:business_hub_booking_calendar' %}">Booking</a></li>
                                    <li class="menu-item"><a href="{% url 'core:products' %}">Products</a></li>
                                    <li class="menu-item"><a href="{% url 'core:blog' %}">Recent Posts</a></li>
                                    <li class="menu-item"><a href="{% url 'core:release_notes' %}">Latest News</a></li>
                                    <li class="menu-item"><a href="{% url 'core:contact' %}">Contact Us</a></li>
                                    <li class="menu-item"><a href="{% url 'core:privacy_policy' %}">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="copyright">
                    <p><a href="https://themeforest.net/user/wpthemebooster">kimono</a> photography, All Rights Reserved</p>
                </div>
                <div class="social-box style-oval">
                    <ul>
                        <li><a href="https://www.facebook.com/" class="bi bi-facebook"></a></li>
                        <li><a href="https://www.instagram.com/" class="bi bi-instagram"></a></li>
                        <li><a href="https://www.linkedin.com/" class="bi bi-linkedin"></a></li>
                        <li><a href="https://www.behance.com/" class="bi bi-behance"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
