

{% load static %}
<!-- Main Header -->
<header class="header color-fixed">
    <!-- Lower Bar -->
    <div class="header-inner">
        <div class="container-fluid pe-0">
            <div class="d-flex align-items-center justify-content-between">
                <!-- Left Part -->
                <div class="header_left_part d-flex align-items-center">
                    <div class="logo">
                        <a href="index.html" class="light_logo"><img src="../assets/img/logo.svg" alt="logo"></a>
                        <a href="index.html" class="dark_logo"><img src="../assets/img/logo-dark.svg" alt="logo"></a>
                    </div>
                </div>

                <!-- Center Part -->
                <div class="header_center_part d-none d-xl-block">
                    <div class="mainnav">
                        <ul class="main-menu">
                            <li class="menu-item menu-item-has-children"><a href="#">Home</a>
                                <ul class="sub-menu" data-lenis-prevent>
                                    <li class="menu-item"><a href="index.html">Home One</a></li>
                                    <li class="menu-item"><a href="index-2.html">Home Two</a></li>
                                    <li class="menu-item"><a href="index-3.html">Home Three</a></li>
                                    <li class="menu-item"><a href="index-4.html">Home Four</a></li>
                                    <li class="menu-item"><a href="index-5.html">Home Five</a></li>
                                    <li class="menu-item"><a href="index-6.html">Home Six</a></li>
                                    <li class="menu-item"><a href="index-7.html">Home Seven</a></li>
                                    <li class="menu-item"><a href="index-8.html">Home Eight</a></li>
                                    <li class="menu-item"><a href="index-9.html">Home Nine</a></li>
                                    <li class="menu-item"><a href="index-10.html">Home Ten</a></li>
                                    <li class="menu-item"><a href="index-11.html">Home Eleven</a></li>
                                    <li class="menu-item"><a href="index-12.html">Home Twelve</a></li>
                                    <li class="menu-item"><a href="index-13.html">Home Thirteen</a></li>
                                    <li class="menu-item"><a href="index-14.html">Home Fourteen</a></li>
                                    <li class="menu-item"><a href="index-15.html">Home Fifteen</a></li>
                                    <li class="menu-item"><a href="index-16.html">Home Sixteen</a></li>
                                    <li class="menu-item"><a href="index-17.html">Home Seventeen</a></li>
                                    <li class="menu-item"><a href="index-18.html">Home Eighteen</a></li>
                                    <li class="menu-item"><a href="index-19.html">Video BG - HTML5</a></li>
                                    <li class="menu-item"><a href="index-20.html">Video BG - Youtube</a></li>
                                    <li class="menu-item"><a href="index-21.html">Video Slider - HTML5</a></li>
                                    <li class="menu-item"><a href="index-22.html">Video BG - Vimeo</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
                                <ul class="sub-menu" data-lenis-prevent>
                                    <li class="menu-item"><a href="project-general.html">General</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Classic</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="project-classic-col-2.html">Col Two</a></li>
                                            <li class="menu-item"><a href="project-classic-col-3.html">Col Three</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Standard</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="project-standard-col-2.html">Col Two</a></li>
                                            <li class="menu-item"><a href="project-standard-col-3.html">Col Three</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Modern</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="project-modern-col-2.html">Col Two</a></li>
                                            <li class="menu-item"><a href="project-modern-col-3.html">Col Three</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Tiles</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="project-tiles-col-2.html">Col Two</a></li>
                                            <li class="menu-item"><a href="project-tiles-col-3.html">Col Three</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="project-masonry-1.html">Type One</a></li>
                                            <li class="menu-item"><a href="project-masonry-2.html">Type Two</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Filterable</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="project-classic-filterable.html">Classic with Filter</a></li>
                                            <li class="menu-item"><a href="project-standard-filterable.html">Standard with Filter</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Hover Effects</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="project-classic-col-3.html">Fly</a></li>
                                            <li class="menu-item"><a href="project-standard-col-3.html">Tilt</a></li>
                                            <li class="menu-item"><a href="project-modern-col-3.html">Overlay</a></li>
                                            <li class="menu-item"><a href="project-masonry-2.html">Blur</a></li>
                                            <li class="menu-item"><a href="project-distortion.html">Image Distortion</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Image Showcase</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="project-carousel.html">Carousel</a></li>
                                            <li class="menu-item"><a href="project-overlapping.html">Image Overlapping</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="project-details.html">Project Details</a></li>
                                    <li class="menu-item"><a href="project-details-2.html">Project Details Two</a></li>
                                </ul>
                            </li>  
                            <li class="menu-item"><a href="about.html">About Us</a></li>
                            <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
                                <ul class="sub-menu" data-lenis-prevent>
                                    <li class="menu-item menu-item-has-children"><a href="#">Services</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="services-1.html">Services Grid</a></li>
                                            <li class="menu-item"><a href="service-details.html">Service Details</a></li>
                                            <li class="menu-item"><a href="service-details-2.html">Service Details Two</a></li>
                                        </ul>
                                    </li> 
                                    <li class="menu-item menu-item-has-children"><a href="#">Our Team</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="team-1.html">Team Grid</a></li>
                                            <li class="menu-item"><a href="team-details.html">Team Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="booking-form.html">Booking Form</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Prices</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="packages.html">Package List</a></li>
                                            <li class="menu-item"><a href="pricetable.html">Price Table</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Shop</a>
                                        <ul class="sub-menu" data-lenis-prevent>
                                            <li class="menu-item"><a href="shop.html">Shop - With Sidebar</a></li>
                                            <li class="menu-item"><a href="shop-2.html">Shop - No Sidebar</a></li>
                                            <li class="menu-item"><a href="shop-product.html">Product Details</a></li>
                                            <li class="menu-item"><a href="shop-cart.html">Cart</a></li>
                                            <li class="menu-item"><a href="shop-checkout.html">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                                    <li class="menu-item"><a href="404.html">404 Error</a></li>
                                    <li class="menu-item"><a href="login.html">Login</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="#">Contact</a>
                                <ul class="sub-menu" data-lenis-prevent>
                                    <li class="menu-item"><a href="contact-1.html">Contact One</a></li>
                                    <li class="menu-item"><a href="contact-2.html">Contact Two</a></li>
                                </ul>
                            </li>                         
                            <li class="menu-item menu-item-has-children"><a href="#">Blog</a>
                                <ul class="sub-menu" data-lenis-prevent>
                                    <li class="menu-item"><a href="blog-grid.html">Blog Grid</a></li>
                                    <li class="menu-item"><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li> 
                        </ul>
                    </div>
                </div>

                <!-- Right Part -->
                <div class="header_right_part d-flex align-items-center">
                    <div class="aside_open wptb-element">
                        <div class="aside-open--inner">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="header_search wptb-element">
                        <a href="#" class="modal_search_icon" data-bs-toggle="modal" data-bs-target="#modalSearch"><i class="bi bi-search"></i></a>
                    </div>

                    <button type="button" class="mr_menu_toggle wptb-element d-xl-none">
                        <i class="bi bi-list"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Main Header -->		

