

{% load static %}

<div class="aside_info_wrapper" data-lenis-prevent>
    <button class="aside_close">Close <i class="bi bi-x-lg"></i></button>

    <div class="aside_logo logo">
        <a href="index.html" class="light_logo"><img src="{% static img/logo.svg' %}" alt="logo"></a>
        <a href="index.html" class="dark_logo"><img src="{% static img/logo-dark.svg' %}" alt="logo"></a>
    </div>

    <div class="aside_info_inner">

        <h6>// Instagram</h6>
        <div class="insta-logo">
            <i class="bi bi-instagram"></i> studio_kimono
        </div>
        <div class="wptb-instagram--gallery">
            <div class="wptb-item--inner d-flex align-items-center justify-content-center flex-wrap">
                <div class="wptb-item">
                    <div class="wptb-item--image">
                        <img src="{% static 'img/instagram/6.jpg' %}" alt="img">
                    </div>
                </div>

                <div class="wptb-item">
                    <div class="wptb-item--image">
                        <img src="{% static 'img/instagram/7.jpg' %}" alt="img">
                    </div>
                </div>

                <div class="wptb-item">
                    <div class="wptb-item--image">
                        <img src="{% static 'img/instagram/8.jpg' %}" alt="img">
                    </div>
                </div>

                <div class="wptb-item">
                    <div class="wptb-item--image">
                        <img src="{% static 'img/instagram/9.jpg' %}" alt="img">
                    </div>
                </div>

                <div class="wptb-item">
                    <div class="wptb-item--image">
                        <img src="{% static 'img/instagram/10.jpg' %}" alt="img">
                    </div>
                </div>
                
                <div class="wptb-item">
                    <div class="wptb-item--image">
                        <img src="{% static 'img/instagram/11.jpg' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>


        <div class="wptb-icon-box1 style2">
            <div class="wptb-item--inner flex-start">
                <div class="wptb-item--icon"><i class="bi bi-envelope"></i></div>
                <div class="wptb-item--holder">
                    <p class="wptb-item--description"><a href="mailto:kimocare@gmail.com">kimocare@gmail.com</a></p>
                </div>
            </div>
        </div>

        <div class="wptb-icon-box1 style2">
            <div class="wptb-item--inner flex-start">
                <div class="wptb-item--icon"><i class="bi bi-geo-alt"></i></div>
                <div class="wptb-item--holder">
                    <p class="wptb-item--description"><a href="contact-1.html">28 Street, New York, USA</a></p>
                </div>
            </div>
        </div>

        <div class="wptb-icon-box1 style2">
            <div class="wptb-item--inner flex-start">
                <div class="wptb-item--icon"><i class="bi bi-envelope"></i></div>
                <div class="wptb-item--holder">
                    <p class="wptb-item--description"><a href="tel:+98765432122811">(+987) 654 321 228 11</a></p>
                </div>
            </div>
        </div>

        <h6>// Follow Us</h6>
        <div class="social-box style-square">
            <ul>
                <li><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a></li>
                <li><a href="https://www.behance.com/"><i class="bi bi-behance"></i></a></li>
                <li><a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</div>
