{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="{% block meta_description %}LumisPixel helps photographers deliver smart galleries, AI photo discovery, editing tools, and marketplace experiences for clients.{% endblock %}">
    <meta name="author" content="LumisPixel">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="LumisPixel">
    <meta property="og:title" content="{% block og_title %}LumisPixel | Photography Made Discoverable{% endblock %}">
    <meta property="og:description" content="{% block og_description %}AI-powered galleries, face search, editing workflows, and marketplace tools for photographers and clients.{% endblock %}">
    <meta property="og:image" content="{% static 'img/slider/7.jpg' %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}LumisPixel | Photography Made Discoverable{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}AI-powered galleries, face search, editing workflows, and marketplace tools for photographers and clients.{% endblock %}">
    <meta name="twitter:image" content="{% static 'img/slider/7.jpg' %}">

    <link rel="canonical" href="{% block canonical_url %}{{ request.build_absolute_uri }}{% endblock %}">

    <link rel="icon" href="{% static 'img/lumis_favicon_v1.png' %}">
    <link href="{% static 'img/lumis_favicon_v1.png' %}" rel="apple-touch-icon">

    <title>{% block title %}LumisPixel | Photography Made Discoverable{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_refine.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="theme-style--light {% block body_class %}page-inner{% endblock %}">
    <a class="skip-link" href="#main-content">Skip to main content</a>
    {% include "partials/preloader.html" %}

    <div class="pointer bnz-pointer" id="bnz-pointer"></div>

    {% include "partials/navbar.html" %}
    {% include "partials/sidebar.html" %}
    {% include "partials/searchbar.html" %}
    {% include "partials/mobile_responsive.html" %}

    <main id="main-content" tabindex="-1">
        {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}

    <div class="totop">
        <a href="#"><i class="bi bi-chevron-up"></i></a>
    </div>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/wow/wow.min.js' %}"></script>
    <script src="{% static 'plugins/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'plugins/swiper/swiper-gl.min.js' %}"></script>
    <script src="{% static 'plugins/odometer/appear.js' %}"></script>
    <script src="{% static 'plugins/odometer/odometer.js' %}"></script>
    <script src="{% static 'plugins/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/isotope/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/isotope/tilt.jquery.js' %}"></script>
    <script src="{% static 'plugins/isotope/isotope-init.js' %}"></script>
    <script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'plugins/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'plugins/nice-select/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'plugins/cursor-effect/cursor-effect.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
